body {
    background-color: lemonchiffon; 
    color: black;
}

h1 {
    color: rgb(13, 59, 102);
}

img {
    height: 200px;
    width: auto;
}

a {
    color: rgb(238, 150, 75);
}

a:active {
    color: rgb(249, 87, 56);
}